@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway (1)/Raleway-VariableFont_wght.ttf");
}
.raleway {
  font-family: "Raleway", sans-serif;
}
:root {
  // THEME LIGHT
  // COLOR BG (theme light)
  --color-bg-base: #717171;
  --color-bg-primary: #eaeaea;
  --color-bg-secondary: #ffffff;
  --color-bg-terciary: #fafafa;
  --color-bg-quaternary: #2f6be0;
  --color-bg-quinary: #e6e6e6;
  --color-bg-white: #ffffff;
  // COLOR TEXT (theme light)
  --color-text-primary: #01c38e;
  --color-text-secondary: #ffffff;
  --color-text-terciary: #2f6be0;
  --color-text-quaternary: #ffbb11;
  --color-text-quintenary: #6d6d6d;
  --color-text-white: #ffffff;
  // COLOR SHADOW (theme light)
  --color-shadow-primary: #ffbb11;
   // BACKGROUND GRADIENT
  --background-ligth: linear-gradient(to right, #02c2cd, #00b7db, #00a9e9, #0099f0, #0085ef, #0d7aee, #216feb, #3463e7, #2c60eb, #245eef, #185bf2, #0658f6);

}
:root .dark-mode {
  // COLOR BG (theme dark)
  --color-bg-primary: #121f2f;
  --color-bg-secondary: #2b324e;
  --color-bg-terciary: #666f98;
  --color-bg-quaternary: #01c38e;
  // COLOR TEXT (theme dark)
  // --color-text-primary:;
  --color-text-secondary: #ffffff;
  --color-text-terciary: #01c38e;
  --color-text-quaternary: #01c38e;
  --color-text-quintenary: #E9E9E9;
  --color-text-white: #ffffff;
  // COLOR SHADOW (theme dark)
  --color-shadow-primary: #a4a4a4;
  --background-dark:
}

.color-bg-base {
  background-color: var(--color-bg-base);
}
.color-bg-primary {
  background-color: var(--color-bg-primary);
}
.color-bg-secondary {
  background-color: var(--color-bg-secondary);
}
.color-bg-terciary {
  background-color: var(--color-bg-terciary);
}
.color-bg-quaternary {
  background-color: var(--color-bg-quaternary);
}
.color-text-primary {
  color: var(--color-text-primary);
}
.color-text-secondary {
  color: var(--color-text-secondary);
}
.color-text-terciary {
  color: var(--color-text-terciary);
}
.color-text-quaternary {
  color: var(--color-text-quaternary);
}
.color-text-quintenary {
  color: var(--color-text-quintenary);
}
.color-text-white {
  color: var(--color-text-white);
}
.color-shadow-primary {
  border: 2px solid var(--color-shadow-primary);
}
.bgGradientLight {
  background: var(--background-ligth);
}
.bgGradientDark{
  background: hsla(164, 79%, 44%, 1);

background: linear-gradient(90deg, hsla(164, 79%, 44%, 1) 0%, hsla(164, 85%, 36%, 1) 48%, hsla(164, 82%, 33%, 1) 75%);

background: -moz-linear-gradient(90deg, hsla(164, 79%, 44%, 1) 0%, hsla(164, 85%, 36%, 1) 48%, hsla(164, 82%, 33%, 1) 75%);

background: -webkit-linear-gradient(90deg, hsla(164, 79%, 44%, 1) 0%, hsla(164, 85%, 36%, 1) 48%, hsla(164, 82%, 33%, 1) 75%);

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// container will define the max width
.container {
  max-width: 1200px;
  margin: 0 auto;
}





