
nav {
  a {
    text-decoration: none; 
    position: relative; 
    overflow: hidden; 
    display: inline-block;
        transition: width 0.3s ease-in-out; 
  }

  a::after {
    content: "";
    position: absolute; 
    left: 0; 
    bottom: 0; 
    width: 0; 
    height: 2px; 
    background-color: var(--color-bg-quaternary ); 
    transition: width 0.3s ease-in; 
    visibility: hidden; 
  }

  a:hover::after {
    width:90%; /* Expand the width on hover */
    visibility: visible; /* Make the underline visible */
        transition: width 0.3s ease-in; 
  }
}
@media (max-width: 800px) {
  .navLinks {
    a {
      font-size: 14px;
      margin-top: 3px;
    }
  }
  .logoHeader {
    font-size: 28px;
  }
}
@media (max-width: 400px) {
  .navLinks {
    a {
      font-size: 14px;
      margin-top: 3px;
    }
  }
  .iconUser {
    display: none;
  }
  .logoHeader {
    font-size: 20px;
  }
  .companyText{
    font-size: 12px;
  }
}
