<section class="animated animate__animated animate__fadeIn raleway color-bg-primary min-h-screen containerLogin">
  <app-header></app-header>
  <main
    [ngClass]="
  isToggleChangeTheme ? 'animated animate__animated animate__bounceIn' : 'animated animate__animated animate__fadeInDown'"
    class="container">
    <div class="flex justify-around items-center gap-6  mx-8 max-lg:mx-12 max-[400px]:mx-0 ">
      <div>
        <div class="mt-16 mb-4">
          <button class=" p-1 rounded-full" (click)="isClickChangeTheme()" *ngIf="isToggleChangeTheme; else light">
            <img class="w-6" src="../../../assets/imgs/theme_mode_icon/dark theme icon/moon.svg" alt="Icon theme dark">
          </button>
          <ng-template #light>
            <button class="p-1 rounded-full" (click)="isClickChangeTheme()">
              <img class="w-6" src="../../../assets/imgs/theme_mode_icon/dark theme icon/sun.svg"
                alt="Icon theme ligth">
            </button></ng-template>
        </div>
        <div class=" flex items-center">
          <h1 class="font-semibold max-lg:text-5xl max-sm:text-4xl text-6xl mb-16 m-auto ">
            <span class="color-text-terciary" [ngClass]="{ 'color-text-white': isToggleChangeTheme }">Ins</span>
            <span class="color-text-quaternary">cr</span>
            <span class="color-text-terciary" [ngClass]="{ 'color-text-white': isToggleChangeTheme }">eva</span>
            <span class="color-text-quaternary">-s</span>
            <span class="color-text-quaternary">e</span>
          </h1>
        </div>
        <!-- Form -->
        <form class="flex flex-col w-96 max-lg:w-80 containerForm" (ngSubmit)="onSubmit($event)">
          <label for="name" class="my-1 color-text-terciary font-bold ml-1 cursor-pointer max-sm:text-sm">Nome
            Completo</label>
          <input type="text" id="name" placeholder="João da Silva" required="required"
            class="inputForm mb-5 py-3 pl-3 rounded-lg placeholder:text-sm font-bold text-sm color-text-quintenary max-sm:placeholder:text-xs "
            [(ngModel)]="name" name="name">
          <label for="email" class="my-1 color-text-terciary font-bold ml-1 cursor-pointer max-sm:text-sm">Email</label>
          <input type="email" id="email" placeholder="joaosilva@gmail.com"
            class="inputForm text:sm color-text-quintenary mb-5 py-3 pl-3 rounded-lg placeholder:text-sm font-bold text-sm color-text-quintenary max-sm:placeholder:text-xs"
            [(ngModel)]="email" name="email">
          <label for="company" class="my-1 color-text-terciary font-bold ml-1 cursor-pointer max-sm:text-sm">Nome da
            Empresa</label>
          <input type="text" id="company" placeholder="Nome da Empresa"
            class="inputForm mb-5 py-3 pl-3 rounded-lg placeholder:text-sm font-bold text-sm color-text-quintenary max-sm:text-sm max-sm:placeholder:text-xs"
            [(ngModel)]="company" name="company">
          <p *ngIf="errorForm" class="text-center text-red-600 font-bold animated animate__animated animate__fadeIn">
            {{errorMessage}}</p>
          <button
            class="buttonAdvance color-bg-quaternary p-2 max:md:p-1 mb-8 rounded-md text-2xl max-md:text-xl font-bold color-text-white border-2 mt-5">Avançar</button>
          <a href="/entrar"
            class=" flex justify-center font-extrabold color-text-terciary contCreate max-md:text-xs ">JÁ TEM
            UMA CONTA</a>
        </form>
      </div>
    </div>
  </main>
</section>