.sideBar{
  z-index: 300003;
}
a {
  img {
    cursor: pointer;
    transition: transform 0.2s ease-in;
  }
  img:hover {
    transform: rotate(-2deg);
    transition: transform 0.2s ease-in-out;
  }
}


.menu-icon div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: transform 0.3s, opacity 0.3s;
  display: none;
 
}

.menu-icon div:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.menu-icon div:nth-child(2) {
  opacity: 0;
}
.menu-icon div:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.menu-icon div,
.menu-icon div {
  background-color: #e93232;
}
/* Animação de slide para o menu */
.slide-in {
  transform: translateX(0);
  transition: transform 0.3s;
}
.slide-out {
  transform: translateX(-100%);
  transition: transform 0.3s;
}
.iconResponsive {
  display: none;
}

@media (max-height: 600px) {

  .sideBar {
    display: none;
  }
  .containerSideBarResponsiveLigth {
    background-color: #ffff !important;
    padding: 50px;
        border: 0.1px solid #4067af71;
    border-radius: 10px;
      box-shadow: 1px 2px 51px -6px rgba(6, 88, 246, 0.82);
  -webkit-box-shadow: 1px 2px 51px -6px rgba(6, 88, 246, 0.82);
  -moz-box-shadow: 1px 2px 51px -6px rgba(6, 88, 246, 0.82);
  }
  .containerSideBarResponsiveDark {
    background-color: var(--color-bg-secondary) !important;
    padding: 50px;
    border: 0.4px solid #4067af48;
    border-radius: 10px;
    box-shadow: 1px 2px 51px -6px #14bf916e;
    -webkit-box-shadow: 1px 2px 51px -6px #14bf9171;
    -moz-box-shadow: 1px 2px 51px -6px #14bf9175;
  }
  .iconResponsive {
    display: block;
  }
  .iconResponsiveReverse {
    display: none;
  }
  .sideBar.open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(2px);
    z-index: 3003;
    cursor: pointer;
  }
  .flexResponsiveButton{
    display: flex;
    gap: 10px;
  }
  .exit-button{
    display: block;
  }
   .menu-icon div{
 display: block;
}
}
@media (max-width: 950px) {
  .sideBar {
    display: none;
  }
  .sideBar.open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(2px);
    z-index: 3003;
    cursor: pointer;
  }
    .containerSideBarResponsiveLigth {
    background-color: #ffff !important;
    padding: 30px;
        border: 0.1px solid #4067af71;
    border-radius: 10px;
      box-shadow: 1px 2px 51px -6px rgba(6, 88, 246, 0.82);
  -webkit-box-shadow: 1px 2px 51px -6px rgba(6, 88, 246, 0.82);
  -moz-box-shadow: 1px 2px 51px -6px rgba(6, 88, 246, 0.82);
  }
  .containerSideBarResponsiveDark {
    background-color: var(--color-bg-secondary) !important;
    padding: 30px;
    border: 0.4px solid #4067af48;
    border-radius: 10px;
    box-shadow: 1px 2px 51px -6px #14bf916e;
    -webkit-box-shadow: 1px 2px 51px -6px #14bf9171;
    -moz-box-shadow: 1px 2px 51px -6px #14bf9175;
  }

  .iconResponsive {
    display: block;
  }

  .iconTheme {
    width: 1.5rem;
  }
    .exit-button{
    display: block;
  }
  .menu-icon {
 display: block
}
}
